include includes/includes.pug
doctype html
html(lang="en")
  head
    +head("Gallery | Aashish Shrivastav")
  body
    +nav
    //- Start Gallery
    section.gallery#gallery
      +heading("My Gallery", "Best works")
      .container
        .container
          a(href="gallery/animals.html" data-aos="zoom-in-up").gallery-box
            .image
              img(src="imagesGallery/animals/5.jpg")
            .text.center-flex
              p Nature
          a(href="gallery/photos.html" data-aos="zoom-in-up").gallery-box
            .image
              img(src="imagesGallery/photos/1.jpg")
            .text.center-flex
              p Portraits
    //- End Gallery
    +footer
    +loading
    +athers("gallery")